<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../css/font-icons.css">
		<link rel="stylesheet" href="../../css/bootstrap.css">
		<style>
			#index{
				padding:40px;
			}
			table{
				table-layout:fixed;
			}
			td{
				 overflow:hidden;white-space:nowrap;text-overflow:ellipsis; 
			}
			.QfirstOne{
				color:#343434;
				border:1px solid #e4e4e4;
				border-radius:3px;
				text-indent:2em;
				padding:10px;
				width:100%;
				line-height:1.5;
			}
			.addNewq span{
				color:#31b0d5;
				cursor:pointer;
			}
			.newQuestionList{
				position: relative;
				margin-top:5px;
			}
			 .newQuestionList>span{
				position:absolute;
				bottom:20px;
				right:2px;
				z-index:99;
				font-size:16px;
				color:red;
				cursor:pointer;
				/*width:12px;
				height:12px;
				display:inline-block;
				border:1px solid red;
				border-radius:50%;*/
			} 
		 
		</style>
	</head>
	<body>
		<div class="um-win" id="index">
			<div class="container " id="box">
					<div class="input-group col-md-6 "  >  
				       <input type="text" class="form-control"placeholder="根据问题或者答案" v-model="searchValue"/ >  
				            <span class="input-group-btn">  
				               <button class="btn btn-info btn-search" @click="searchData(searchValue)">搜索</button>  
				                 <button class="btn btn-info btn-search" style="margin-left:10px" @click="addNewContent()"  data-toggle="modal">新增</button>  
				                 <button class="btn btn-info btn-search" style="margin-left:10px" onclick="inputNewD()">批量导入</button>  
				            </span>  
				 	</div>
				 
				<!-- <form action="form">
					<div class="form-group">
						<label for="username">用户名：</label>
						<input type="text" id="username" class="form-control" placeholder="请输入用户名" v-model="username" />
					</div>
					<div class="form-group">
						<label for="username">答案：</label>
						<input type="text" id="question" class="form-control" placeholder="请输入答案"  v-model="age"/>
					</div>
					<div class="form-group">
						<input type="button"   value="添加"  v-on:click="adds" class="btn btn-primary" />
						<input type="button"  value="重置" class="btn btn-danger" />
					</div>
				</form> -->
				  <table class="table table-bordered">
				  		<caption class="h2 text-center">数据列表</caption>
				  		<tr>
				  			<th class="text-center">问题</th>
				  			<th class="text-center">答案</th>
				  			<th class="text-center">修改时间</th>
				  			<th class="text-center">操作</th>
				  		</tr>
				  		<tr class="text-center" v-for="(item,index) in myData">
				  			  <td>{{item.question}}</td>  
				  			<td>{{item.answer}}</td>
				  			<td>{{item.updateTime}}</td>
				  			<td><button class="btn btn-primary btn-sm" @click="editContent(item.id)"  data-toggle="modal"   >编辑</button><button style="margin-left:10px;" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layer"  @click="nowIndex=index" >删除</button></td>
				  		</tr>
				  		<tr v-show="myData.length!=0">
				  			<td colspan="4" class="text-right">
				  				<button class="btn btn-danger btn-sm"  data-toggle="modal" data-target="#layer" @click="nowIndex=-2">全部删除</button>
				  			</td>
				  		</tr>
				  		<tr v-show="myData.length==0">
				  			<td colspan="4" class="text-center text-muted">
				  				 <p>暂无数据</p>
				  			</td>
				  		</tr>
				  </table>
				  <!-- 删除模态框     弹出框-->
				  <div role="dialog" class="modal fade bs-example-modal-sm" id="layer" v-bind:data-tar="nowIndex" >
				  	<div class="modal-dialog">
				  		<div class="modal-content">
				  			<div class="modal-header">
				  				<button type="button" class="close" data-dismiss="modal">
				  					<span>&times;</span>
				  				</button>
				  				
				  				<h4 class="modal-title" v-show="nowIndex==-2">确认删除全部吗？</h4>
				  				<h4 class="modal-title" v-show="nowIndex!=-2">确认删除吗？</h4>
				  			 
				  			</div>
				  			<div class="modal-body text-right">
				  				<button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
				  				<button data-dismiss="modal" class="btn btn-danger btn-sm" @click="deleteMsg(nowIndex)">确定</button>
				  			</div>
				  		</div>
				  	</div>
				  </div>
				<!--   编辑模态框 -->
				 <div role="dialog" class="modal fade bs-example-modal-sm" id="layer2"   >
				  	<div class="modal-dialog">
				  		<div class="modal-content">
				  			<div class="modal-header">
				  				<button type="button" class="close" data-dismiss="modal">
				  					<span>&times;</span>
				  				</button>
				  			</div>
				  			<div class="modal-body"  >
				  				<div id="questionList">
				  					<div class="questionList">
					  					<p>问题:</p>
					  					 <input type="text"  class="form-control firstQuesionX"  v-model="editInputData.question" />
				  				   </div>
				  		 		  <div v-for="(item,index) in editInputData.qs" class="newQuestionList" v-show="editInputData.qs.length>0">
				  		 		  			<div v-show="item.status!='delete'">
				  		 		  				<span @click="removeQuestion(index,item)"><img src="img/delete.png" width=10 alt="" /></span>
						  				   		<div class="questionList" >
		   					  					<p>相似问法:</p>
		   					  					 <input type="text"  class="form-control firstQuesionX"  v-model="item.question" />
		   				  				  		</div>
				  		 		  			</div>
				  				   </div>  
				  				</div>
				  				
				  				<p class="text-right addNewq" ><span @click="addNewQuestion">新增相似问法？</span></p>
				  				<div>
				  					<p>答案:</p>
				  					  <textarea name="" id="" cols="30" rows="10" class="QfirstOne"  placeholder="答案" v-model="editInputData.answer"></textarea>
				  				</div>
				  			</div>
				  			<div class="modal-footer text-right">
				  				<button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
				  				<button data-dismiss="modal" class="btn btn-danger btn-sm" @click="saveQuestionList">保存</button>
				  			</div>
				  		</div>
				  	</div>
				  </div>
				  
				 <!--  新增模态框 -->
				 <div role="dialog" class="modal fade bs-example-modal-sm" id="layer3"   >
				  	<div class="modal-dialog">
				  		<div class="modal-content">
				  			<div class="modal-header">
				  				<button type="button" class="close" data-dismiss="modal">
				  					<span>&times;</span>
				  				</button>
				  			</div>
				  			<div class="modal-body"  >
				  				<div id="questionList">
				  					<div class="questionList">
					  					<p>问题:</p>
					  					 <input type="text"  class="form-control firstQuesionX"  v-model="addNewData.q" />
				  				   </div>
				  		 		  <div v-for="(item,index) in addNewData.qs" class="newQuestionList"  v-show="addNewData.qs.length>0">
				  		 		  		<span @click="removeQuestion_addNew(index)"><img src="img/delete.png" width=10 alt="" /></span>
				  				   		<div class="questionList">
   					  					<p>相似问法{{index+1}}:</p>
   					  					 <input type="text"  class="form-control firstQuesionX"  v-model="item.question" />
   				  				  		</div>
				  				   </div>  
				  				</div>
				  				
				  				<p class="text-right addNewq" ><span @click="addNewQuestion_newData">新增相似问法？</span></p>
				  				<div>
				  					<p>答案:</p>
				  					  <textarea name="" id="" cols="30" rows="10" class="QfirstOne"  placeholder="答案" v-model="addNewData.a"></textarea>
				  				</div>
				  			</div>
				  			<div class="modal-footer text-right">
				  				<button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
				  				<button data-dismiss="modal" class="btn btn-danger btn-sm" @click="saveAddNewList">保存</button>
				  			</div>
				  		</div>
				  	</div>
				  </div>
				 
			</div>
		</div>
		<script src="../../js/public/jquery.min.js" ></script>
		<script src="../../js/public/bootstrap.js" ></script>
		<script src="../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
		<script src="../../js/public/vue.js" ></script>
		<script src="../../js/public/kbconfig.js" ></script>
		<script src="./data.js" ></script>
		<script>
	 
		
	    //从后端获取数据
		//var __myData=[];
		//编辑完成以后向后端提交的数据
		//编辑数据有四种状态
		var __apiKey="8002"//唯一身份id
		//status:modified,delete,add
		var editInputData={
				question:"",
				answer:"",
				id:"",
				questionList:[]
			}; 
		//新增的数据
	   var  addNewData={
				"q":"",
				"a":"",
				"qs":[],
				"apiKey" : "__apiKey"
			};
			 
			$(function(){
				
						  var a=new Vue({
									el:"#box",
									data:{
										myData:"",//后台请求列表数据
										editInputData:"",//编辑后提交数据
										addNewData:addNewData,//新增
										nowIndex:-100,
										searchValue:"",
										 message: '页面加载于 ' + new Date()
									},
									methods:{
										init:function(){
											var _self=this;
											 $.ajax({
													type : "get",
													dataType : "json",
													url :KBCONFIG.MKBURL +"/mkb/QueryAllQA?",
													data : {
														apiKey:__apiKey,
													},
													success : function(data) {
													  _self.myData=data.response.docs;
													   
												
												
													},
													error : function(res) {
														 _self.myData=responseData.docs;
														 alert(JSON.stringify(res));
													}
												});
										},
										deleteMsg:function(n){
											if(n==-2){
												//调取删除全部的接口
												this.myData=[];
											}else{
											 //   console.log(n);
											 //改行的id，通过ajax请求提交给后端,将id传给后台
												console.log(this.myData[n].id);
												 //增强更好的体验
												this.myData.splice(n,1);
											}
											
										},
										savaModified:function(){
										  var qsNewDataId=this.editInputData.id;
										  var qsNewData=this.editInputData;
										  var __self=this;
										  var qsOldData;
										  $.ajax({
											        url:KBCONFIG.MKBURL + '/mkb/QuerySimilarQById',
											        data: {id:qsNewDataId,apiKey:__apiKey,},
											        type:'get',
											        dataType:'json',
											        success:function(data){
														qsOldData=data;
											 			 for(var i=0;i<qsNewData.qs.length;i++){
															if(qsNewData.qs[i].id){
																if(qsNewData.qs[i].question!=qsOldData.qs[i].question){
																	__self.editInputData.qs[i].status="modified"
																}
															}
														 };
														alert("最终数据为"+JSON.stringify(__self.editInputData));
														 
											        },
											        error:function(data){
											        	 
											             alert(JSON.stringify(data));//弹窗
											        }
							
											    });
										 
										 
										 },
										editContent:function(id){
											var _self=this;
											var initEditData;
											$.ajax({
											        url:KBCONFIG.MKBURL + '/mkb/QuerySimilarQById',
											        data: {id:id,apiKey:__apiKey,},
											        type:'get',
											        dataType:'json',
											        success:function(data){
														
											 			_self.editInputData=data;														 
														 
											        },
											        error:function(data){
											        	_self.editInputData=_editInputData
											             alert(JSON.stringify(data));//弹窗
											        }
							
											    });
											/* for(var i=0;i<__myData.length;i++){
												if(__myData[i].id==id){
													 this.myOtherDdata.question=__myData[i].question;
													 this.myOtherDdata.answer=__myData[i].answer;
													 this.myOtherDdata.id=id;
												}
											} */
											$("#layer2").modal();
										},
										addNewContent:function(){
											$("#layer3").modal();
										},
										addNewQuestion:function(){
											this.editInputData.qs.push({
												question:"",
												status:'add'
											});
										},
										addNewQuestion_newData:function(){
											this.addNewData.qs.push({
												question:""
											});
										},
										removeQuestion:function(index,item){
											if(!item.status){
												this.editInputData.qs[index].status="delete";
												a.init();
												//this.editInputData.qs[index].question="";
											}else{
												this.editInputData.qs.splice(index,1);
											}
											console.log(this.editInputData);
										},
										removeQuestion_addNew:function(index){
											this.addNewData.qs.splice(index,1);
										},
										saveQuestionList:function(){
											a.savaModified();
											
										/*	 this.$watch('editInputData',function(newValue,oldValue){
											console.log(newValue);
											console.log(oldValue);
							                alert('发生变化了');
							            },{deep:true})
											console.log(JSON.stringify(this.myOtherDdata));*/
										},
										 
										saveAddNewList:function(){
											//将新增数据提交后端
											var qs=[];
											for(var i=0;i<this.addNewData.qs.length;i++){
												qs.push(this.addNewData.qs[i].question);
											}
											this.addNewData.qs=qs;
											var inputNewData=JSON.parse(JSON.stringify(this.addNewData));
											$.ajaxSettings.traditional=true;
											console.log(inputNewData);
												$.ajax({
											        url:KBCONFIG.MKBURL + '/mkb/addQA',
										
											        data: inputNewData,
											        type:'post',
											        dataType:'json',
											        success:function(data){
											           // alert("创建成功");//弹窗
													   a.init();
											 
											             
											 
											        },
											        error:function(data){
											             alert(JSON.stringify(data));//弹窗
											              
											        }
							
											    });
											 
											 
											 
										},
										searchData:function(a){
											//根据搜索的内容进行后端ajax请求
											alert(a);
										}
										
									}
								  
								});
					a.init();
					$('#layer2').on('hidden.bs.modal', function () {
				  		editInputData.qs=[];
						 
					})
					$('#layer3').on('hidden.bs.modal', function () {
				  		addNewData.qs=[];
				  		addNewData.q="";
				  		addNewData.a="";
					})
				
			});	
				 
				
		 
		</script>
	</body>
</html>