<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../css/font-icons.css">
		<link rel="stylesheet" href="../../css/bootstrap.css">
		<link rel="stylesheet" href="../../css/bootstrap-pagination.min.css">
		<link rel="stylesheet" href="../../css/uploadifive.css">
		<link rel="stylesheet" href="../../js/layui/css/layui.css">	
		<style>
			table.table{		  
			}
			td{
				 overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
			}
		  
			.QfirstOne{
				color:#343434;
				border:1px solid #e4e4e4;
				border-radius:3px;
				text-indent:2em;
				padding:10px;
				width:100%;
				line-height:1.5;
			}
			.addNewq span{
				color:#31b0d5;
				cursor:pointer;
			}
			.newQuestionList{
				position: relative;
				margin-top:5px;
			}
			.newQuestionList>span{
				position:absolute;
				top:15px;
				right:0px;
				cursor:pointer;
			}
			 .newQuestionList div>span{
				position:absolute;
				bottom:17px;
				right:0px;
				z-index:99;
				font-size:16px;
				color:red;
				cursor:pointer;
				/*width:12px;
				height:12px;
				display:inline-block;
				border:1px solid red;
				border-radius:50%;*/
			}
			body{
				position:absolute;
				top:0;
				right:0;
				left:0;
				bottom:0;
			}
			.headerTop{
				position:fixed;
				top:0px;
				padding-top:25px;
				padding-bottom:20px;
				width:100%;
				background:#fff;
				box-shadow: 0 0px 5px #888;
				padding-left:50px;
			}
			#box{
				margin-top:100px;
			}
			.dataTotal{
				width:1450px;
			}
			.tabletitle{
				border-top:1px solid #ddd;
				border-right:1px solid #ddd;
				border-left:1px solid #ddd;
				border-bottom:1px solid #ddd;
			}	 
			.tabletitle span.first{
				width:100px;
			}
			.tabletitle span.question{
				width:200px; 
			}
			.tabletitle span.answer{
				width:300px;
			}
			.tabletitle span.updateTime{
				width:200px; 
			}
			.tabletitle span.edit{
				width:200px;
			}
			.tabletitle span{
				display:inline-block; 
				line-height:50px;
				 overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
			}
			.tablecontent{ 
				border-right:1px solid #ddd;
				border-left:1px solid #ddd;
				border-bottom:1px solid #ddd;
			}
			.tablecontent span.first{
				width:100px;
				text-align:center;
			}
			.tablecontent span.question{
				width:200px;
				 text-align:left;
			}
			.tablecontent span.answer{
				width:300px;
				 text-align:left;
			}
			.tablecontent span.updateTime{
				width:200px;
				text-align:center;
			}
			.tablecontent span.edit{
				width:200px;
				text-align:center;
			}
			.tablecontent span{	 
				display:inline-block; 
				line-height:50px;
				 overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
			}
			.layui-upload-button{
				color: #fff;
				background-color: #5bc0de;
				border-color: #46b8da;
			}
		</style>
	</head>
	<body>
		<div class="um-win" id="index">
			<div class=" " id="box">
				 <div class="headerTop">
						<div class="input-group col-md-6  "  >
						   <input type="text" class="form-control"placeholder="搜索问题或者答案" v-model="searchValue"/ >
								<span class="input-group-btn">
								   <button class="btn btn-info btn-search" @click="searchData(searchValue)">搜索</button>
								    <button class="btn btn-info btn-search" @click="searchFilterData()" style="margin-left:10px">条件搜索</button>
									 <button class="btn btn-info btn-search" style="margin-left:10px" @click="addNewContent()"  data-toggle="modal">新增问答</button>
									 <button class="btn btn-info btn-search" style="margin-left:10px" @click="addNewDocument1()"  data-toggle="modal">新增文档</button>
									  <button class="btn btn-info btn-search" style="margin-left:10px" @click="addNewOrder1()"  data-toggle="modal">新增唤醒命令</button>
								</span>
						</div>
						<div style="position:absolute;right:10%;top:0px;backgroun-color:#5bc0de;top:25px">
							<form method="post" class="form-x"  enctype="multipart/form-data" style="display:inline-block;">
								  <div class="form-group">
									<div class="field">
									 <input type="file" name="filepath"  class="layui-upload-file">
									</div>
								  </div>
								</form>
						</div>
				</div>
				<div class="" style="margin-left:50px;margin-right:42px;">
					 <div class="dataTotal">
				  		<p class="h2 text-left"><button id="obtain" class="btn btn-primary">批量删除</button></p>
				  		<div class="tabletitle">
							<span class="text-center first">
						<input type="checkbox" class="xcheckgroup1  allselect" id="checkAll" /><label for="checkAll">全选</label>
							</span>
				  			<span class="text-center question">问题/文档名</span>
				  			<span class="text-center answer">答案/文档描述</span>
								<!--th class="text-center">文档地址</th-->
				  			<span class="text-center updateTime" >修改时间</span>
							<span class="text-center updateTime" v-bind:style="{width: listSettings.extend0Width}">{{this.columnDefine.extend0?this.columnDefine.extend0.field_desc:""}}</span>
							<span class="text-center updateTime" v-bind:style="{width: listSettings.extend1Width}">{{this.columnDefine.extend1?this.columnDefine.extend1.field_desc:""}}</span>
				  			<span class="text-center edit">操作</span>
				  		</div>
				  		<div class="tablecontent" v-for="(item,index) in myData"  >
								<span class="first" width="80">
									<input type="checkbox" class="xcheckgroup1 checkItem uniqueInput" :data-id="item.id" :value="item.id"   />
								</span>
				  			  <span class="question" width="200" :title="item.question">{{item.question}}</span>
				  			<span class="answer" width="500" :title="item.answer">{{item.answer}}</span>
								<!--td class="answer" width="200">{{item.url}}</td-->
				  			<span class="updateTime" width="200">{{item.updateTime}}</span>
							<span class="updateTime" v-bind:style="{width: listSettings.extend0Width}">{{item.extend0}}</span>
							<span class="updateTime" v-bind:style="{width: listSettings.extend1Width}">{{item.extend1}}</span>
				  			<span class="edit" width="200"><button class="btn btn-primary btn-sm" @click="editContent(item.id)"  data-toggle="modal"   >查看编辑</button><button style="margin-left:10px;" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layer"  @click="nowIndex=index" >删除</button></span>
				  		</div>
				  		<!--<tr v-show="myData.length!=0">
				  			<td colspan="4" class="text-right">
				  				<button class="btn btn-danger btn-sm"  data-toggle="modal" data-target="#layer" @click="nowIndex=-2">全部删除</button>
				  			</td>
				  		</tr>-->
				  		<div v-show="myData.length==0">
				  			<div colspan="4" class="text-center text-muted">
				  				 <p>暂无数据</p>
				  			</div>
				  		</div>
				  </div>
				</div>
				  <!-- 删除模态框     弹出框-->
				  <div role="dialog" class="modal fade bs-example-modal-sm" id="layer" v-bind:data-tar="nowIndex" >
				  	<div class="modal-dialog">
				  		<div class="modal-content">
				  			<div class="modal-header">
				  				<button type="button" class="close" data-dismiss="modal">
				  					<span>&times;</span>
				  				</button>
				  				<h4 class="modal-title" v-show="nowIndex==-2">确认删除全部吗？</h4>
				  				<h4 class="modal-title" v-show="nowIndex!=-2">确认删除吗？</h4>
				  			</div>
				  			<div class="modal-body text-right">
				  				<button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
				  				<button data-dismiss="modal" class="btn btn-danger btn-sm" @click="deleteMsg(nowIndex)">确定</button>
				  			</div>
				  		</div>
				  	</div>
				  </div>
				<!--   编辑模态框 -->
				 <div role="dialog" class="modal fade bs-example-modal-sm" id="layer2"   >
				  	<div class="modal-dialog">
				  		<div class="modal-content">
				  			<div class="modal-header">
				  				<button type="button" class="close" data-dismiss="modal">
				  					<span>&times;</span>
				  				</button>
				  			</div>
				  			<div class="modal-body"  >
				  				<div id="questionList">
				  					<div class="questionList">
					  					<p>问题:</p>
					  					 <input type="text"  class="form-control firstQuesionX"  v-model="editInputData.question" />
				  				   </div>
				  		 		  <div v-for="(item,index) in editInputData.qs" class="newQuestionList" v-show="editInputData.qs.length>0">
				  		 		  			<div v-show="item.status!='deleted'">
				  		 		  				<span @click="removeQuestion(index,item)"><img src="img/delete.png" width=15 alt="" /></span>
						  				   		<div class="questionList" >
		   					  					<p>相似问法:</p>
		   					  					 <input type="text"  class="form-control firstQuesionX"  v-model="item.question" />
		   				  				  		</div>
				  		 		  			</div>
				  				   </div>
				  				</div>
				  				<p class="text-right addNewq" ><span @click="addNewQuestion">新增相似问法？</span></p>
				  				<div>
				  					<p>答案:</p>
				  					  <textarea name="" id="" cols="30" rows="10" class="QfirstOne"  placeholder="答案" v-model="editInputData.answer"></textarea>
				  				</div>
				  			</div>
				  			<div class="modal-footer text-right">
				  				<button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
				  				<button data-dismiss="modal" class="btn btn-danger btn-sm" @click="saveQuestionList">保存</button>
				  			</div>
				  		</div>
				  	</div>
				  </div>
					<!--   编辑文档modal -->
					 <div role="dialog" class="modal fade bs-example-modal-sm" id="layer5"   >
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">
											<span>&times;</span>
										</button>
									</div>
									<div class="modal-body"  >
										<div id="questionList">
											<div class="questionList">
												<p>文档名:</p>
												 <input type="text"  class="form-control firstQuesionX"  v-model="editInputDocument.question" />
											 </div>
											 <div class="questionList">
 												<p>文档地址:</p>
 												 <input type="text"  class="form-control firstQuesionX"  v-model="editInputDocument.url" />
 											 </div>

										</div>
										<div>
											<p>文档描述:</p>
												<textarea name="" id="" cols="30" rows="10" class="QfirstOne"  placeholder="文档描述" v-model="editInputDocument.answer"></textarea>
										</div>
									</div>
									<div class="modal-footer text-right">
										<button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
										<button data-dismiss="modal" class="btn btn-danger btn-sm" @click="saveEditNewDocument">保存</button>
									</div>
								</div>
							</div>
						</div>
				 <!--  新增模态框 -->
				 <div role="dialog" class="modal fade bs-example-modal-sm" id="layer3"   >
				  	<div class="modal-dialog">
				  		<div class="modal-content">
				  			<div class="modal-header">
				  				<button type="button" class="close" data-dismiss="modal">
				  					<span>&times;</span>
				  				</button>
				  			</div>
				  			<div class="modal-body"  >
								<div class="visibleRange" style="padding-bottom:20px;">
									<span>可见范围：</span>
									<select name="" id="">
										<option value="所有人可见">所有人可见</option>
										<option value="仅内部可见">仅内部可见</option>
									</select>
								</div>
				  				<div id="questionList">
				  					<div class="questionList">
					  					<p>问题:</p>
					  					<input type="text" name="box"  class="form-control firstQuesionX"  v-model="addNewData.q" />
				  				   </div>
				  		 		  <div v-for="(item,index) in addNewData.qs" class="newQuestionList"  v-show="addNewData.qs.length>0">
				  		 		  		<span @click="removeQuestion_addNew(index)"><img src="img/delete.png" width=15 alt="" /></span>
				  				   		<div class="questionList">
   					  					<p>相似问法{{index+1}}:</p>
   					  					 <input type="text"  class="form-control firstQuesionX"  v-model="item.question" />
   				  				  		</div>
				  				   </div>
				  				</div>

				  				<p class="text-right addNewq" ><span @click="addNewQuestion_newData">新增相似问法？</span></p>
				  				<div>
				  					<p>答案:</p>
				  					  <textarea name="" id="" cols="30" rows="10" class="QfirstOne"  placeholder="答案" v-model="addNewData.a"></textarea>
				  				</div>
				  			</div>
				  			<div class="modal-footer text-right">
				  				<button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
				  				<button data-dismiss="modal" class="btn btn-danger btn-sm" @click="saveAddNewList">保存</button>
				  			</div>
				  		</div>
				  	</div>
				  </div>
					<!-- 新增文档 -->
					<div role="dialog" class="modal fade bs-example-modal-sm" id="layer4"   >
						 <div class="modal-dialog">
							 <div class="modal-content">
								 <div class="modal-header">
									 <button type="button" class="close" data-dismiss="modal">
										 <span>&times;</span>
									 </button>
								 </div>
								 <div class="modal-body"  >
								<div class="visibleRange" style="padding-bottom:20px;">
									<span>可见范围：</span>
									<select name="" id="">
										<option value="所有人可见">所有人可见</option>
										<option value="仅内部可见">仅内部可见</option>
									</select>
								</div>
									 <div id="questionList">
										 <div class="questionList">
											 <p>文档名:</p>
											 <input type="text" name="box"  class="form-control firstQuesionX"  placeholder="必填" v-model="addNewDocument.q"   />
											</div>
											<div class="questionList">
												<p>文档地址:</p>
												<input type="text" name="box"  class="form-control firstQuesionX"  placeholder="必填" v-model="addNewDocument.url" />
											 </div>

									 </div>


									 <div>
										 <p>文档描述:</p>
											 <textarea name="" id="" cols="30" rows="10" class="QfirstOne"  placeholder="文档描述（非必填）" v-model="addNewDocument.a"></textarea>
									 </div>
								 </div>
								 <div class="modal-footer text-right">
									 <button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
									 <button data-dismiss="modal" class="btn btn-danger btn-sm" @click="saveAddNewDocument">保存</button>
								 </div>
							 </div>
						 </div>
					 </div>

					 <!-- 新增命令 -->
					<div role="dialog" class="modal fade bs-example-modal-sm" id="layer6"   >
						 <div class="modal-dialog">
							 <div class="modal-content">
								 <div class="modal-header">
									 <button type="button" class="close" data-dismiss="modal">
										 <span>&times;</span>
									 </button>
								 </div>
								 <div class="modal-body"  >
									 <div id="questionList">
										 <div class="questionList">
											 <p>命令唤醒说法:</p>
											 <input type="text" name="box"  class="form-control firstQuesionX"  placeholder="这里定义你的唤醒说法（必填）" v-model="addNewOrder.q"   />
											</div>
											<div class="questionList">
												<p>命令类型</p>
												<input type="text" name="box"  class="form-control firstQuesionX"  placeholder="可自定义，由定义者解析（必填）" v-model="addNewOrder.qtype" />
											 </div>
											 <div v-for="(item,index) in addNewOrder.qs" class="newQuestionList"  v-show="addNewOrder.qs.length>0">
												<span @click="removeOrder_addNew(index)"><img src="img/delete.png" width=15 alt="" /></span>
												<div class="questionList">
												<p>相似说法:{{index+1}}:</p>
												 <input type="text"  class="form-control firstQuesionX"  v-model="item.question" placeholder="这里定义你的常用的多种唤醒说法" />
												</div>
				  							</div>

									 </div>

									<p class="text-right addNewq" ><span @click="addNewOrder_newData">增加相似说法？</span></p>
									 <div>
										 <p>命令参数数据:</p>
											 <textarea name="" id="" cols="30" rows="10" class="QfirstOne"  placeholder="可以是任意数据，包括json对象，由定义者解析（必填）" v-model="addNewOrder.a"></textarea>
									 </div>
								 </div>
								 <div class="modal-footer text-right">
									 <button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
									 <button data-dismiss="modal" class="btn btn-danger btn-sm" @click="saveAddNewOrder">保存</button>
								 </div>
							 </div>
						 </div>
					 </div>
					 	<!--   编辑命令modal -->
					 <div role="dialog" class="modal fade bs-example-modal-sm" id="layer7"   >
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">
											<span>&times;</span>
										</button>
									</div>
									<div class="modal-body"  >
										<div id="questionList">
											<div class="questionList">
												<p>命令唤醒说法:</p>
												 <input type="text"  class="form-control firstQuesionX"  v-model="editInputOrder.question" placeholder="这里定义你的唤醒说法（必填）"/>
											 </div>
											<div v-for="(item,index) in editInputOrder.qs" class="newQuestionList" v-show="editInputOrder.qs.length>0">
												<div v-show="item.status!='deleted'">
													<span @click="removeEditOrder(index,item)"><img src="img/delete.png" width=15 alt="" /></span>
													<div class="questionList" >
													<p>相似说法:</p>
													 <input type="text"  class="form-control firstQuesionX"  v-model="item.question" placeholder="这里定义你的常用的多种唤醒说法" />
													</div>
												</div>
											</div>
											<p class="text-right addNewq" ><span @click="addNewOrder_eidtData">增加相似说法？</span></p>													
											 <div class="questionList">
 												<p>命令类型：</p>
 												 <input type="text"  class="form-control firstQuesionX"  v-model="editInputOrder.qtype" placeholder="可自定义，由定义者解析（必填）" />
 											 </div>

										</div>
										<div>
											<p>命令参数数据:</p>
												<textarea name="" id="" cols="30" rows="10" class="QfirstOne"  placeholder="可以是任意数据，包括json对象，由定义者解析（必填）" v-model="editInputOrder.answer"></textarea>
										</div>
									</div>
									<div class="modal-footer text-right">
										<button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
										<button data-dismiss="modal" class="btn btn-danger btn-sm" @click="saveEditNewOrder">保存</button>
									</div>
								</div>
							</div>
						</div>
							<!--   条件过滤搜索 -->
					 <div role="dialog" class="modal fade bs-example-modal-sm" id="layer8"   >
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">
											<span>&times;</span>
										</button>
									</div>
									<div class="modal-body"  >
										<div id="questionList">
											<div class="questionList">
												<p>关键字:</p>
												 <input type="text"  class="form-control firstQuesionX" placeholder="可选" v-model="seachFilterData.keywords" />
											 </div>                                                              
											 <div class="questionList">
 												<p>开始时间：</p>
 												 <input type="date"  class="form-control firstQuesionX"  v-model="seachFilterData.startDate" />
 											 </div>
											  <div class="questionList">
 												<p>结束时间：</p>
 												 <input type="date"  class="form-control firstQuesionX"  v-model="seachFilterData.endDate" />
 											 </div>
											  <div class="questionList">
 												<p>录入人员：</p>
 												 <input type="text" placeholder="可选"  class="form-control firstQuesionX"  v-model="seachFilterData.people" />
 											 </div>
											  <div class="questionList">
 												<p>部门：</p>
 												 <select id="departData"  class="selectpicker" v-model="selectedData">
													 <option value ="all">全部</option>
												</select>
 											 </div>
										</div>
									</div>
									<div class="modal-footer text-right">
										<button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
										<button data-dismiss="modal" class="btn btn-danger btn-sm" @click="searchDateSure">确定</button>
									</div>
								</div>
							</div>
						</div>
			</div>
			<div class="text-left" style="padding-left:160px;">
				<ul id="demo2" class="pagination">
				</ul>
			</div>
		</div>
		<script src="../../js/public/jquery.min.js" ></script>
		<script src="../../js/public/bootstrap.js" ></script>
		<script src="../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
		<script src="../../js/public/vue.js" ></script>
		<script src="../../js/public/bootstrap-pagination.js" ></script>
		<script src="../../js/public/kbconfig.js" ></script>
		<script src="../../js/layui/layui.js"></script>
		<script src="./data.js" ></script>
		<script>
	    //从后端获取数据
		//var __myData=[];
		//编辑完成以后向后端提交的数据
		//编辑数据有四种状态
		var _searchData;
		var __apiKey;//唯一身份id
		//status:modified,delete,add
		var editInputData={
				question:"",
				answer:"",
				id:"",
				questionList:[]
			};
		var columnDefine={};
		var _startPage=0;
		var _pageSizeRows=10;
		var _startPageMulu=0;
		var _toatlPate;


		//新增的QA数据
	   var  addNewData={
				"ktype":"qa",//可以默认不指定ktype，默认值为qa
				"q":"",
				"a":"",
				"qs":[],
				"apiKey" : __apiKey
			};
			//新增的文档
		   var  addNewDocument={
					"ktype":"doc",//文档类型
					"q":"",
					"a":"",
					"url":"",
					"apiKey" : __apiKey
				};
			//新增的命令
		   var  addNewOrder={
					"ktype":"command",//指令类型
					"q":"",
					"a":"",
					"qs":[],
					"qtype":"",
					"apiKey" : __apiKey
				};
			//过滤字段
		   var   seachFilterData={
					"keywords":"",
					"startDate":"",
					"endDate":"",
					"people":"",
					"dept":"",
					"apiKey" : __apiKey
				};
			//解析url
			function getParameter(param,query){

				var iLen = param.length;
				var iStart = query.indexOf(param);
				if (iStart == -1){return 0;}
				iStart += iLen + 1;
				var iEnd = query.indexOf("&", iStart);
				if (iEnd == -1){
				　return query.substring(iStart);
				}else{
				  return query.substring(iStart, iEnd);
				}
			  }
			  var a;
			$(function(){
				 var codeall=String(location.search);
			     __apiKey= getParameter("apiKey",codeall);
				//__apiKey="85de79b9f7e34c37a99accaddb256990"

						   a=new Vue({
									el:"#box",
									data:{
										listSettings:{},
										myData:"",//后台请求列表数据
										editInputData:"",//编辑后提交数据
										editInputDocument:"",//编辑后提交数据
										addNewData:addNewData,//新增
										addNewDocument:addNewDocument,
										addNewOrder:addNewOrder,
										editInputOrder:"",
										nowIndex:-100,
										searchValue:"",
										seachFilterData:seachFilterData,
										selectedData:"all",
										 message: '页面加载于 ' + new Date(),
										 columnDefine:''
									},
									methods:{
										init:function(){
											var _self=this;
											var searchFilter=_self.seachFilterData;
											var keywordsFinanl;
											searchFilter.keywords!=""?keywordsFinanl=searchFilter.keywords:keywordsFinanl=_searchData;
											 var deptFinanlInit;
											 _self.selectedData=="all"?deptFinanlInit="":deptFinanlInit=_self.selectedData;
											 $.ajax({
													type : "get",
													dataType : "json",
													url :KBCONFIG.MKBURL +"/mkb/QueryAllQA?",
													data : {
														apiKey:__apiKey,
														start:_startPage,//第几页，初始0
														rows: _pageSizeRows, //一页显示多少条
														q:keywordsFinanl,
														startDate:searchFilter.startDate,
														endDate:searchFilter.endDate,
														people:searchFilter.people,
														dept:deptFinanlInit,
													},
													success : function(data) {
														columnDefine=data.response.extend;
														_toatlPate=data.response.numFound;
														
													
													  _self.myData=data.response.docs;
													  if(data.response.docs[0]){
														_self.listSettings.extend0Width = data.response.docs[0].extend0 ? 200:0;
														_self.listSettings.extend1Width = data.response.docs[0].extend1 ? 200:0;
													  }else{
														_self.listSettings.extend0Width = 0;
														_self.listSettings.extend1Width = 0;
													  }
													   initPage();


													},
													error : function(res) {
														 _self.myData=responseData.docs;
														 alert(JSON.stringify(res));
													}
												});
										},
										deleteMsg:function(n){
											if(n==-2){
												//调取删除全部的接口
												this.myData=[];
											}else{
											 //   console.log(n);
											 //改行的id，通过ajax请求提交给后端,将id传给后台
											 var __self=this;
											 $.ajax({
											        url:KBCONFIG.MKBURL + '/mkb/DelQA',
											        data: {id:__self.myData[n].id,apiKey:__apiKey,},
											        type:'post',
											        dataType:'json',
											        success:function(data){
														 a.init();


											        },
											        error:function(data){

											             alert(JSON.stringify(data));//弹窗
											        }

											    });

												//console.log();
												 //增强更好的体验
												//this.myData.splice(n,1);
											}

										},
										/*uploadFileInit:function(){
											upload({
												url : KBCONFIG.MKBURL + '/importQA',//../luis/importtree/
												ext : 'xlsx',
												title : '请上传决策树文件',
												method : "POST",
												before : function(input) {
													// 返回的参数item，即为当前的input DOM对象
													//var data={"id":id};
													//extra_data(input,data);
												},
												success : function(res) {
													layer.msg(res.msg);
												}
											});
										},*/
										savaModified:function(){
										  var qsNewDataId=this.editInputData.id;
										  var qsNewData=this.editInputData;
										  var __self=this;
										  var qsOldData;
										  $.ajax({
											        url:KBCONFIG.MKBURL + '/mkb/QuerySimilarQById',
											        data: {id:qsNewDataId,apiKey:__apiKey,},
											        type:'get',
											        dataType:'json',
											        success:function(data){
														qsOldData=data;
											 			 for(var i=0;i<qsNewData.qs.length;i++){
															if(qsNewData.qs[i].id){
																if(qsNewData.qs[i].question!=qsOldData.qs[i].question){
																	__self.editInputData.qs[i].status="modified"
																}
															}
														 };
														for(var i = 0;i<__self.editInputData.qs.length;i++){
																if(__self.editInputData.qs[i].question==''||__self.editInputData.qs[i].question==null){
																	__self.editInputData.qs.splice(i,1);
																	i=i-1;
																}
														}
														__self.editInputData.qs=JSON.stringify(__self.editInputData.qs);
														__self.editInputData.apiKey=__apiKey;

														var finanalEditData=JSON.parse(JSON.stringify(__self.editInputData));
														console.log(finanalEditData);

														$.ajaxSettings.traditional=true;

														$.ajax({
																url:KBCONFIG.MKBURL + '/mkb/UpdateQAQS',
																contentType:"application/x-www-form-urlencoded",
																//contentType:"application/json",
																data:finanalEditData,
																type:'post',
																dataType:'json',
																success:function(data){
																	//alert("创建成功");//弹窗
																	if(data.responseHeader.status == 0){
																		alert("添加成功");
																		a.init();
																	}else{
																		alert(data.response.reason);
																		if(data.responseHeader.status == 1062){
																			alert("重复数据的id为" + data.response.id);
																		}

																	}

																},
																error:function(data){
																	 alert(JSON.stringify(data));//弹窗
																	  //TODO ........
																}

															});



											        },
											        error:function(data){

											             alert(JSON.stringify(data));//弹窗
											        }

											    });


										 },
										 saveAddNewDocument:function(){
											 var finanaladdNewDocument=JSON.parse(JSON.stringify(this.addNewDocument));
											 $.ajaxSettings.traditional=true;

											 $.ajax({
													 url:KBCONFIG.MKBURL + '/mkb/UpdateQAQS',
													 contentType:"application/x-www-form-urlencoded",
													 //contentType:"application/json",
													 data:finanaladdNewDocument,
													 type:'post',
													 dataType:'json',
													 success:function(data){
														 //alert("创建成功");//弹窗
														 if(data.responseHeader.status == 0){
															 alert("添加成功");
															 a.init();
														 }else{
															 alert(data.response.reason);
															 if(data.responseHeader.status == 1062){
																 alert("重复数据的id为" + data.response.id);
															 }

														 }

													 },
													 error:function(data){
															alert(JSON.stringify(data));//弹窗
															 //TODO ........
													 }

												 });
										 },
										 saveEditNewDocument:function(){
											 this.editInputDocument.apiKey=__apiKey;
											 var finanalEditDocument=JSON.parse(JSON.stringify(this.editInputDocument));
											 $.ajaxSettings.traditional=true;

											 $.ajax({
													 url:KBCONFIG.MKBURL + '/mkb/UpdateQAQS',
													 contentType:"application/x-www-form-urlencoded",
													 //contentType:"application/json",
													 data:finanalEditDocument,
													 type:'post',
													 dataType:'json',
													 success:function(data){
														 //alert("创建成功");//弹窗
														 if(data.responseHeader.status == 0){
															 alert("添加成功");
															 a.init();
														 }else{
															 alert(data.response.reason);
															 if(data.responseHeader.status == 1062){
																 alert("重复数据的id为" + data.response.id);
															 }

														 }

													 },
													 error:function(data){
															alert(JSON.stringify(data));//弹窗
															 //TODO ........
													 }

												 });
										 },
										 saveAddNewOrder:function(){
											//将新增文档提交后端
											if(this.addNewOrder.q==""){
												alert("命令名称不能为空");
												return;
											}
											if(this.addNewOrder.a==""){
												alert("执行命令结果不能为空");
												return;
											}
											if(this.addNewOrder.qtype==""){
												alert("命令类型不要能为空");
												return;
											}
											this.addNewOrder.apiKey=__apiKey;
											var inputNewData=JSON.parse(JSON.stringify(this.addNewOrder));
											
											var strArray = [];
											for(var i=0,len=inputNewData.qs.length;i<len;i++){
												if(inputNewData.qs[i].question){
													strArray.push(inputNewData.qs[i].question);
												}
											}
											inputNewData.qs = strArray;
											$.ajaxSettings.traditional=true;
											console.log(inputNewData);
												$.ajax({
															url:KBCONFIG.MKBURL + '/mkb/addQA',

															data: inputNewData,
															type:'post',
															dataType:'json',
															success:function(data){
																  alert("新增命令成功");//弹窗
														 a.init();



															},
															error:function(data){
																	 alert("发生异常："+ JSON.stringify(data));//弹窗

															}

													});



										},
										 saveEditNewOrder:function(){
											 this.editInputOrder.apiKey=__apiKey;
											 var finanalEditOrder=JSON.parse(JSON.stringify(this.editInputOrder));
											 if(finanalEditOrder.qs && Object.prototype.toString.call(finanalEditOrder.qs) === '[object Array]'){
												finanalEditOrder.qs = JSON.stringify(finanalEditOrder.qs);
											 }
											 
											 $.ajaxSettings.traditional=true;

											 $.ajax({
													 url:KBCONFIG.MKBURL + '/mkb/UpdateQAQS',
													 contentType:"application/x-www-form-urlencoded",
													 //contentType:"application/json",
													 data:finanalEditOrder,
													 type:'post',
													 dataType:'json',
													 success:function(data){
														 //alert("创建成功");//弹窗
														 if(data.responseHeader.status == 0){
															 alert("添加成功");
															 a.init();
														 }else{
															 alert(data.response.reason);
															 if(data.responseHeader.status == 1062){
																 alert("重复数据的id为" + data.response.id);
															 }

														 }

													 },
													 error:function(data){
															alert(JSON.stringify(data));//弹窗
															 //TODO ........
													 }

												 });
										 },
										editContent:function(id){
											var _self=this;
											var initEditData;
											$.ajax({
											        url:KBCONFIG.MKBURL + '/mkb/QuerySimilarQById',
											        data: {id:id,apiKey:__apiKey,},
											        type:'get',
											        dataType:'json',
											        success:function(data){
																if(data.url){
																	 _self.editInputDocument=data;
																	$("#layer5").modal();
																}else if(data.qtype){
																	 _self.editInputOrder=data;
																	$("#layer7").modal();
																}else{																		
																	 _self.editInputData=data;
																	$("#layer2").modal();
																}

											        },
											        error:function(data){
											        	_self.editInputData=_editInputData
											             alert(JSON.stringify(data));//弹窗
											        }

											    });

										},
										addNewContent:function(){
											$("#layer3").modal();
										},
										addNewDocument1:function(){
											$("#layer4").modal();
										},
										addNewOrder1:function(){
											$("#layer6").modal();
										},
										searchFilterData:function(){
											var _self=this;
											var initEditData;
											$.ajax({
											        url:KBCONFIG.MKBURL +"/mkb/queryDimensionData",
											        data: {  
														apiKey:__apiKey,
														field:"extend0"
													},
											        type:'get',
											        dataType:'json',
											        success:function(data){
													  var departmentData=data.response.data;
														for(var i=0;i<departmentData.length;i++){
															$("#departData").append('<option>'+departmentData[i]+'</option>');
														}
														$("#layer8").modal();
											        },
											        error:function(data){
											        	 console.log(data)
											        }

											    }); 

											
										},
										searchDateSure:function(){
												var _self=this;
											 _startPage=0;
											 _pageSizeRows=10;
											 var finanlFilterData=_self.seachFilterData;
											 var deptFinanl;
											 _self.selectedData=="all"?deptFinanl="":deptFinanl=_self.selectedData;
											 $.ajax({
													type : "get",
													dataType : "json",
													url :KBCONFIG.MKBURL +"/mkb/QueryAllQA?",
													data : {
														apiKey:__apiKey,
														q:finanlFilterData.keywords,
														start:_startPage,
														rows:_pageSizeRows,
														startDate:finanlFilterData.startDate,
														endDate:finanlFilterData.endDate,
														people:finanlFilterData.people,
														dept:deptFinanl,

													},
													success : function(data) {

													   _toatlPate=data.response.numFound;
													  _self.myData=data.response.docs;
													   initPage();


													},
													error : function(res) {
														 _self.myData=responseData.docs;
														 alert(JSON.stringify(res));
													}
												});
										},
										addNewQuestion:function(){
											this.editInputData.qs.push({
												question:"",
												status:'added'
											});
										},
										addNewQuestion_newData:function(){
											this.addNewData.qs.push({
												question:""
											});
										},
										addNewOrder_eidtData:function(){
											this.editInputOrder.qs.push({
												question:"",
												status:'added'
											});
										},
										addNewOrder_newData:function(){
											this.addNewOrder.qs.push({
												question:""
											});
										},
										removeEditOrder:function(index,item){
											if(!item.status){
												this.editInputOrder.qs[index].status="deleted";

												//this.editInputData.qs[index].question="";
											}else{
											alert(123)
												this.editInputOrder.qs.splice(index,1);
											}
											a.init();
											console.log(this.editInputOrder);
										},
										removeQuestion:function(index,item){
											if(!item.status){
												this.editInputData.qs[index].status="deleted";

												//this.editInputData.qs[index].question="";
											}else{
												this.editInputData.qs.splice(index,1);
											}
											a.init();
											console.log(this.editInputData);
										},
										
										removeQuestion_addNew:function(index){
											this.addNewData.qs.splice(index,1);
										},
										removeOrder_addNew:function(index){
											this.addNewOrder.qs.splice(index,1);
										},
										saveQuestionList:function(){
											a.savaModified();

										/*	 this.$watch('editInputData',function(newValue,oldValue){
											console.log(newValue);
											console.log(oldValue);
							                alert('发生变化了');
							            },{deep:true})
											console.log(JSON.stringify(this.myOtherDdata));*/
										},

										saveAddNewList:function(){
											//将新增数据提交后端
											if(this.addNewData.q==""){
												alert("问题不能为空");
												return;
											}
											if(this.addNewData.a==""){
												alert("答案不能为空");
												return;
											}
											var qs=[];
											for(var i=0;i<this.addNewData.qs.length;i++){
												qs.push(this.addNewData.qs[i].question);
											}
											this.addNewData.qs=qs;
											this.addNewData.apiKey=__apiKey;
											var inputNewData=JSON.parse(JSON.stringify(this.addNewData));
											$.ajaxSettings.traditional=true;
											console.log(inputNewData);
												$.ajax({
											        url:KBCONFIG.MKBURL + '/mkb/addQA',

											        data: inputNewData,
											        type:'post',
											        dataType:'json',
											        success:function(data){
											           // alert("创建成功");//弹窗
													   a.init();



											        },
											        error:function(data){
											             alert(JSON.stringify(data));//弹窗

											        }

											    });



										},
										saveAddNewDocument:function(){
											//将新增文档提交后端
											if(this.addNewDocument.q==""){
												alert("文档名不能为空");
												return;
											}
											if(this.addNewDocument.url==""){
												alert("文档地址不能为空");
												return;
											}
											this.addNewDocument.apiKey=__apiKey;
											var inputNewData=JSON.parse(JSON.stringify(this.addNewDocument));
											$.ajaxSettings.traditional=true;
											console.log(addNewDocument);
												$.ajax({
															url:KBCONFIG.MKBURL + '/mkb/addQA',

															data: addNewDocument,
															type:'post',
															dataType:'json',
															success:function(data){
																  alert("新增成功");//弹窗
														 a.init();



															},
															error:function(data){
																	 alert(JSON.stringify(data));//弹窗

															}

													});



										},
										inputExcel:function(){
											
										},
										searchData:function(args){
											//根据搜索的内容进行后端ajax请求
											var _self=this;
											 _startPage=0;
											 _pageSizeRows=10;
											 _searchData=args;
											 $.ajax({
													type : "get",
													dataType : "json",
													url :KBCONFIG.MKBURL +"/mkb/QueryAllQA?",
													data : {
														apiKey:__apiKey,
														q:args,
														start:_startPage,
														rows:_pageSizeRows
													},
													success : function(data) {

													   _toatlPate=data.response.numFound;
													  _self.myData=data.response.docs;
													   initPage();


													},
													error : function(res) {
														 _self.myData=responseData.docs;
														 alert(JSON.stringify(res));
													}
												});
										}

									}

								});
					a.init();
					//a.uploadFileInit();
					$('#layer2').on('hidden.bs.modal', function () {
				  		editInputData.qs=[];

					})
					$('#layer3').on('hidden.bs.modal', function () {
				  		addNewData.qs=[];
				  		addNewData.q="";
				  		addNewData.a="";
					})
					$('#layer4').on('hidden.bs.modal', function () {
				  		addNewDocument.url="";
				  		addNewData.q="";
				  		addNewData.a="";
					})
					$('#layer6').on('hidden.bs.modal', function () {
						addNewOrder.qs=[];
				  		addNewOrder.qtype="";
				  		addNewData.q="";
				  		addNewData.a="";
					})
					 


			//购物车全选
			$('.allselect').click(function(){
				$(".uniqueInput").prop("checked",$(this).prop("checked"));
				//同步所有的全选按钮
				$('.allselect').prop("checked",$(this).prop("checked"));

			});

			//若在全选状态下，单个商品取消选中状态，则恢复全选按钮未选中状态
			$('.uniqueInput').click(function(){
				if(!$(this).prop('checked')){
					$('.allselect').prop("checked",$(this).prop("checked"));
				}
				//若在非全选状态下，单个商品依次选中要更新全选按钮状态
				if($('.uniqueInput').length == $('input.uniqueInput:checked').length){
					$('.allselect').prop("checked",true);
				}
			});


			//获取选中的checkbox的id
			$('#obtain').click(function(){
				//记录选中的id
				var getArray = [];

				$('.uniqueInput').each(function(){
					if($(this).prop('checked')){
						getArray.push($(this).attr('data-id'));
					}
				});
				if(getArray.length>0){
					$.ajaxSettings.traditional=true;
					 $.ajax({
							url:KBCONFIG.MKBURL + '/mkb/DelQABat',
							data: {ids:getArray,apiKey:__apiKey,},
							type:'post',
							dataType:'json',
							success:function(data){
								 a.init();


							},
							error:function(data){

								 alert(JSON.stringify(data));//弹窗
							}

						});
				}else{
					alert("请选择删除项");
				}
				console.log(getArray);
			});





			});
			function initPage(){
				 var demo2 = BootstrapPagination($("#demo2"), {
                layoutScheme: "lefttext,pagesizelist,firstpage,prevgrouppage,prevpage,pagenumber,nextpage,nextgrouppage,lastpage,pageinput,righttext",
                //记录总数。
                total: _toatlPate,
                //分页尺寸。指示每页最多显示的记录数量。
                pageSize: _pageSizeRows,
                //当前页索引编号。从其开始（从0开始）的整数。
                pageIndex: _startPageMulu,
                //指示分页导航栏中最多显示的页索引数量。
                pageGroupSize: 10,
                //位于导航条左侧的输出信息格式化字符串
                leftFormateString: "本页{count}条/共{total}条",
                //位于导航条右侧的输出信息格式化字符串
                rightFormateString: "第{pageNumber}页/共{totalPages}页",
                //页码文本格式化字符串。
                pageNumberFormateString: "{pageNumber}",
                //分页尺寸输出格式化字符串
                pageSizeListFormateString: "每页显示{pageSize}条",
                //上一页导航按钮文本。
                prevPageText: "上一页",
                //下一页导航按钮文本。
                nextPageText: "下一页",
                //上一组分页导航按钮文本。
               // prevGroupPageText: "上一组",
                //下一组分页导航按钮文本。
               // nextGroupPageText: "下一组",
                //首页导航按钮文本。
                firstPageText: "首页",
                //尾页导航按钮文本。
                lastPageText: "尾页",
                //设置页码输入框中显示的提示文本。
                pageInputPlaceholder: "GO",
                //接受用户输入内容的延迟时间。单位：毫秒
                pageInputTimeout: 800,
                //分页尺寸列表。
                pageSizeList: [5, 10, 20, 50, 100, 200],
                //当分页更改后引发此事件。
                pageChanged: function (pageIndex, pageSize) {
					 _startPage=pageIndex*pageSize;
					 _startPageMulu=pageIndex;
					 _pageSizeRows=pageSize;
					 a.init();
                    //alert("page changed. pageIndex:" + pageIndex + ",pageSize:" + pageSize)
                },
            });
			}
			$(document).ready(function(){
				layui.use([ 'form', 'upload', 'laypage', 'layer' ], function() { // 如果只加载一个模块，可以不填数组。如：layui.use('form')
					var form = layui.form() // 获取form模块
					, upload = layui.upload // 获取upload模块
					, laypage = layui.laypage, layer = layui.layer;
					var index;
					upload({
						url : KBCONFIG.MKBURL + '/importQA',//../luis/importtree/
						ext : 'xlsx',
						title : '批量导入qa文件（xlsx）',
						method : "POST",
						before : function(input) {
							// 返回的参数item，即为当前的input DOM对象
							var data={"apiKey":__apiKey};
							extra_data(input,data);
							index = layer.load(1, {
								shade: [0.8,'#393D49']
							});
						}, 
						success : function(res) {
							//layer.msg(res.msg);
							var falseqa=res.response.retobj.falseqa;
							var falseqaContent=''
							var successNum=res.response.retobj.successnum;
							var falsenum=res.response.retobj.falsenum;
							for(var i=0;i<falseqa.length;i++){
								falseqaContent+='<span>'+falseqa[i]+'</span></br>'
							}
							
							 layer.open({
							  title: '提示',
							  content: '成功条数:'+successNum+',</br>失败条数:'+falsenum+',</br>失败QA列表(问题重复):</br>'+falseqaContent
							}); 
							layer.close(index);
														
							
						}
					});

					//监听特定的自定义事件。你可以把它看作是一个ID选择器
					form.on('submit(queryData)', function(data) {
						ityzl_CLOSE_LOAD_LAYER(i);  
						each();
						return false;
					});
				});
				//参数封装
				function extra_data(input,data){
					var item=[];
					$.each(data,function(k,v){
						item.push('<input type="hidden" name="'+k+'" value="'+v+'">');
					})
					$(input).after(item.join(''));
				}
				
			});


		</script>
	</body>
</html>
