<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../css/font-icons.css">
		<link rel="stylesheet" href="../../css/bootstrap.css">
		<style>
			#index{
				padding-left:40px;
				padding-right:40px;
			}
			table{
				table-layout:fixed;
			}
			td{
				 overflow:hidden;white-space:nowrap;text-overflow:ellipsis; 
			}
			.QfirstOne{
				color:#343434;
				border:1px solid #e4e4e4;
				border-radius:3px;
				text-indent:2em;
				padding:10px;
				width:100%;
				line-height:1.5;
			}
			.addNewq span{
				color:#31b0d5;
				cursor:pointer;
			}
			.newQuestionList{
				position: relative;
				margin-top:5px;
			}
			 .newQuestionList div>span{
				position:absolute;
				bottom:20px;
				right:2px;
				z-index:99;
				font-size:16px;
				color:red;
				cursor:pointer;
				/*width:12px;
				height:12px;
				display:inline-block;
				border:1px solid red;
				border-radius:50%;*/
			} 
			body{
				position:absolute;
				top:0;
				right:0;
				left:0;
				bottom:0;
			}
			.headerTop{
				position:fixed;
				top:0px;
				padding-top:50px;
				left:80px;
				right:50px;
				width:100%;
				background:#fff;
				
			}
			#box{
				overflow-y:scroll;
				margin-top:100px;
			}		 
		</style>
	</head>
	<body>
		
		<div class="um-win" id="index">
		
			
			<div class="container " id="box">
					
				 <div class="headerTop">
						<div class="input-group col-md-6  "  >  						 
							<span class="input-group-btn">  								  
								<button class="btn btn-info btn-search" style="margin-left:10px"  data-target="#layer" data-toggle="modal">新增</button>  						 
							</span>  
						</div>
				</div> 
				  <table class="table table-bordered">
				  		<caption class="h2 text-center">数据列表</caption>
				  		<tr>
				  			<th class="text-center">机器人名称</th>		
				  			<th class="text-center">apiKey</th>
				  			<th class="text-center">用户名</th>
				  			<th class="text-center">密码</th>
				  			<th class="text-center">tkbcore</th>
				  			<th class="text-center">数据库名称</th>
				  			<th class="text-center">查看</th>
				  		</tr>
				  		<tr class="text-center" v-for="(item,index) in myData.list">
				  			  <td>{{item.tname}}</td>  
				  			  <td>{{item.apiKey}}</td>
				  			  <td>{{item.tusername}}</td>
				  			  <td>{{item.tpassword}}</td>
				  			  <td>{{item.tkbcore}}</td>
				  			  <td>{{item.dbname}}</td>
				  			  <td>
				  			  		<button class="btn btn-primary btn-sm" @click="changeData(index)" data-target="#layer1"  data-toggle="modal">编辑</button>
				  			  		<button style="margin-left:10px;" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layer2"  @click="changeData(index)">删除</button>
				  			  </td>
				  		</tr>			  		
				  </table>
					
				  
				 <!--  新增模态框 -->
				<div role="dialog" class="modal fade bs-example-modal-sm" id="layer"   >
				  	<div class="modal-dialog">
				  		<div class="modal-content">
				  			<div class="modal-header">
				  				<button type="button" class="close" data-dismiss="modal">
				  					<span>&times;</span>
				  				</button>
				  			</div>
				  			<div class="modal-body"  >
				  				<div id="questionList" >				  	
					  				<span>{{myData.title[0].subject}}:</span>					  				 
				  				    <input type="text"  class="form-control firstQuesionX"  v-model="myData.title[0].value" />	
				  				    <span>{{myData.title[1].subject}}:</span>					  				 
				  				    <input type="text"  class="form-control firstQuesionX"  v-model="myData.title[1].value" />	
				  				    <span>{{myData.title[2].subject}}:</span>					  				 
				  				    <input type="text"  class="form-control firstQuesionX"  v-model="myData.title[2].value"  onkeyup="this.value=this.value.replace(/[^\w_]/g,'')" placeholder="数字、字母"/>					  	
				  			    </div>
					  			<div class="modal-footer text-right">
					  				<button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
					  				<button data-dismiss="modal" class="btn btn-danger btn-sm" @click="addList()">保存</button>
					  			</div>
				  			</div>
				  		</div>
				    </div>		 
			    </div>
				 <!--  编辑模态框 -->
			    <div role="dialog" class="modal fade bs-example-modal-sm" id="layer1"  >
				  	<div class="modal-dialog">
				  		<div class="modal-content">
				  			<div class="modal-header">
				  				<button type="button" class="close" data-dismiss="modal">
				  					<span>&times;</span>
				  				</button>
				  			</div>
				  			<div class="modal-body"  >
				  				<div id="questionList">				  	
					  				<span>机器人名称</span>					  				 
				  				    <input type="text"  class="form-control firstQuesionX"  v-model="nowData.tname" />	
				  				    <span>企业描述</span>					  				 
				  				    <input type="text"  class="form-control firstQuesionX"  v-model="nowData.tdescript" />	
				  				    <span>用户名称</span>					  				 
				  				    <input type="text"  class="form-control firstQuesionX"  v-model="nowData.tusername" />	
				  				    <span>用户密码</span>					  				 
				  				    <input type="text"  class="form-control firstQuesionX"  v-model="nowData.tpassword" />	
				  				    <span>匹配精度</span>					  				 
				  				    <input type="text"  class="form-control firstQuesionX"  v-model="nowData.simscore" />
				  				    <div>
					  				    <span>是否推荐</span>	
					  				    <input type="radio"  value="true" v-model="nowData.recommended">
					  				    <label>是</label>	
					  				    <input type="radio"  value="false" v-model="nowData.recommended">
					  				    <label>否</label>
				  				    </div>				  				 
				  				    <span>权重</span>					  				 
				  				    <input type="text"  class="form-control firstQuesionX"  v-model="nowData.solr_qf" />	
				  				    <span>排序</span>					  				 
				  				    <input type="text"  class="form-control firstQuesionX"  v-model="nowData.solr_sort" />	
				  				    <span>同义词</span>					  				 
				  				    <input type="text"  class="form-control firstQuesionX"  v-model="nowData.useSynonym" />
				  				    <div>
					  				    <span>是否过滤</span>	
					  				    <input type="radio"  value="true" v-model="nowData.sorl_useFilterQueries">
					  				    <label>是</label>	
					  				    <input type="radio"  value="false" v-model="nowData.sorl_useFilterQueries">
					  				    <label>否</label>
				  				    </div>	
									 <span>apiKey</span>					  				 
				  				    <input type="text"  class="form-control firstQuesionX"  v-model="nowData.apiKey"  disabled="disabled"/>	
				  				    <span>tkbcore</span>					  				 
				  				    <input type="text"  class="form-control firstQuesionX"  v-model="nowData.tkbcore"  disabled="disabled"/>		
				  				    <span>数据库名称</span>					  				 
				  				    <input type="text"  class="form-control firstQuesionX"  v-model="nowData.dbname"  disabled="disabled"/>	
				  				    <span>数据库IP</span>					  				 
				  				    <input type="text"  class="form-control firstQuesionX"  v-model="nowData.dbip"  disabled="disabled"/>
				  				    <span>数据库端口</span>					  				 
				  				    <input type="text"  class="form-control firstQuesionX"  v-model="nowData.dbport"  disabled="disabled"/>
				  				    <span>数据库用户名</span>					  				 
				  				    <input type="text"  class="form-control firstQuesionX"  v-model="nowData.dbusername"  disabled="disabled"/>
				  				    <span>数据库密码</span>					  				 
				  				    <input type="text"  class="form-control firstQuesionX"  v-model="nowData.dbpassword"  disabled="disabled"/>
				  				    <span>机器人key</span>					  				 
				  				    <input type="text"  class="form-control firstQuesionX"  v-model="nowData.botKey"  disabled="disabled"/>	
	
									
				  			    </div>
					  			<div class="modal-footer text-right">
					  				<button data-dismiss="modal" class="btn btn-primary btn-sm" @click="init()">取消</button>
					  				<button data-dismiss="modal" class="btn btn-danger btn-sm" @click="editList(nowIndex)">保存</button>
					  			</div>
				  			</div>
				  		</div>
				    </div>		 
			    </div>
			    <!--删除模态框-->
			    <div role="dialog" class="modal fade bs-example-modal-sm" id="layer2">
				  	<div class="modal-dialog" style="width:400px;margin-top:200px">
				  		<div class="modal-content">
				  			<div class="modal-header">
				  				<button type="button" class="close" data-dismiss="modal">
				  					<span>&times;</span>
				  				</button>
				  				<h4 class="modal-title">确认删除吗？</h4>
				  			</div>
				  			<div class="modal-footer text-center">
				  				<button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
				  				<button data-dismiss="modal" class="btn btn-danger btn-sm" data-toggle="modal"  data-target="#layer3">确认</button>
				  			</div>		  			
				  		</div>
				    </div>		 
			    </div>
				<!--验证模态框-->
				<div role="dialog" class="modal fade bs-example-modal-sm" id="layer3"   >
				  	<div class="modal-dialog" style="width:400px;margin-top:200px">
				  		<div class="modal-content">
				  			<div class="modal-header">
				  				<button type="button" class="close" data-dismiss="modal">
				  					<span>&times;</span>
				  				</button>
				  				<h4 class="modal-title">输入请输入用户密码</h4>
				  				<input type="text"  class="form-control firstQuesionX" id="qq" />
				  			</div>
				  			<div class="modal-footer text-center">
				  				<button data-dismiss="modal" class="btn btn-primary btn-sm" @click="removeInput()">取消</button>
				  				<button data-dismiss="modal" class="btn btn-danger btn-sm" @click="removeList(nowIndex)">确认</button>
				  			</div>		  			
				  		</div>
				    </div>		 
			    </div>

		</div>
		<script src="../../js/public/jquery.min.js" ></script>
		<script src="../../js/public/bootstrap.js" ></script>
		<script src="../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
		<script src="../../js/public/vue.js" ></script>
		<script src="../../js/public/kbconfig.js" ></script>
	
		<script>

				var myData={
					list:[],
					title:[
						{key:"tname",value:'',subject:'机器人名称'},
						{key:"tdescript",value:'',subject:'企业描述'},
						{key:"tusername",value:'',subject:'用户名称'}
					]
				}

			    var register=new Vue({
					el:"#box",
					data:{
						'myData':myData,								
						'nowData':{},
						'nowIndex':0				
					},
					created : function () {
					    var _self=this;
						$.ajax({
							type : "post",
							dataType : "json",
							url :KBCONFIG.MKBURL +"/mkb/QueryTenant",
							success : function(data) {
							    _self.myData.list=data.response.data;
							},
							error : function(res) {	
								console.log(res);
							}
						});
					},
					methods:{	
						init:function(){
							 var _self=this;
							$.ajax({
								type : "post",
								dataType : "json",
								url :KBCONFIG.MKBURL +"/mkb/QueryTenant",
								success : function(data) {
								    _self.myData.list=data.response.data;
								},
								error : function(res) {	
									console.log(res);
								}
							});
						},			 											
						addList:function(){
							//新增数据
							var _self=this;
							var qq={};
							for(var i=0;i<_self.myData.title.length;i++){																
								qq[_self.myData.title[i].key]=_self.myData.title[i].value;									
							};					
							$.ajax({
								type : "post",
								data: qq,
								dataType : "json",
								url :KBCONFIG.MKBURL +"/mkb/CreateTenant",
								success : function(data) {
									alert(data.responseHeader.reason)
								    _self.init()
								},
								error : function(res) {	
									console.log(res);
								}
							});
							 
						},
						editList:function(num){
							//编辑数据	
							var _self=this;	
							var tenant=this.myData.list[num];
							$.ajax({
								type : "post",
								data: tenant,
								dataType : "json",
								url :KBCONFIG.MKBURL +"/mkb/UpdateTenant",
								success : function(data) {
								    _self.init()
								},
								error : function(res) {	
									console.log(res);
								}
							});				
						},
						changeData:function(index){
							//获取索引值
							this.nowIndex=index;
							this.nowData=this.myData.list[index];
						},	
						removeList:function(index){
							//删除数据
							var _self=this;	
							var tenant=this.myData.list[index];
							debugger;
							if($('#qq').val()==tenant.tpassword){
								$.ajax({
									type : "post",
									data: tenant,
									dataType : "json",
									url :KBCONFIG.MKBURL +"/mkb/DelTenant",
									success : function(data) {
										$('#qq').val('');
									    _self.init()
									},
									error : function(res) {	
										console.log(res);
									}
								});		
							}else{
								alert('密码错误')
							}
							
						},
						removeInput:function(){
							 $('#qq').val('');
						}


					}
				  
				});
		

		</script>
	</body>
</html>
