@charset "utf-8";
/* CSS Document */
body{
	font-size:0.3rem;
	background:#fafafa;
	height:100%;
	color:#2e2e2e;
	font-family:"微软雅黑";
}
html{
	background:#fafafa;
	height:100%;
}
#wrap{overflow:hidden;}
#wrap div.box{border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; background:#fff;padding: 0.2rem;}
#wrap div.box p.title{height:0.5rem; line-height:0.5rem; color:#808080; margin-bottom:0.24rem;}
#wrap p.showBox{height:0.4rem; width:100%; position:relative;}
#wrap p.showBox span{display:inline-block; height:0.4rem; line-height:0.4rem; border-radius:0.5rem; padding:0 0.2rem; background:#bdbdbd; color:#fff; position:absolute; right:0; top:0;}
#question{word-break: break-all;display:block;width:100%;height:1.6rem; line-height:0.4rem; text-indent:1em; resize:none;box-sizing:border-box;-webkit-box-sizing:border-box;text-align:justify;}
#question:hover{border:none; outline:none;}
#wrap div.box .picItem{float:left;width:1.26rem;height:1.26rem; margin:0.2rem 0rem 0.13rem 0.2rem;}
div.picItem{background:url(../../image/interlocution/addImg.png) no-repeat 0 0;background-size:100% 100%;}
#wrap .btnBox{position:absolute; bottom:0; left:0; width:100%;}
#wrap .btnBox #submit{width:100%; height:0.9rem; background:#1baede; color:#fff;}

#wrap .box #uploadForm{margin:-0.08rem -0.2rem 0; padding:0.08rem 0.2rem 0; overflow:hidden;}
#wrap .clearfix{margin-top:0.2rem;}
#ibox .con{
	float:left;
	position: relative;
	width: 22.5%;
	margin-right:3.3%;
	margin-bottom:0.1rem;
	border-radius:0.1rem;
}
#ibox .con:nth-child(4n){margin-right:0;}
#ibox .con-con{
	padding-top:100%;
	position:relative;
	margin-bottom:0.1rem;
}
#ibox .con-con .font{
	width:98%;
	height:98%;
	position:absolute;
	left:1px;
	top:1px;
	border:1px solid #d3d3d3;
	border-radius:0.1rem;
	background: url(../../image/interlocution/s-j.png) no-repeat center center;
	background-size: 0.46rem 0.46rem;
}
#ibox img{
	width:100%;
	height:100%;
	position: absolute;
	left:0;
	top: 0;
	z-index: 3;
}

#ibox .close{
	width:0.44rem;
	height:0.44rem;
	margin-left:1.24rem;
	margin-top:-0.08rem;
}

/********************************拍照功能开始***********************/
#fileDiv{
	position: fixed;
	top: 0;
	left:0;
	width:100%;
	height:100%;
	z-index:48;
}
#zhezhao{
	position:absolute;
	top: 0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0;
	z-index:49;
}
.none{
	display: none;
}

.totalBox {/*总高度3.2rem*/
	position: absolute;
	bottom:-3.2rem;
	left:0.3rem;
	right:0.3rem;
	z-index:50;
}
.totalBox ul {
	margin-bottom:0.28rem;
	border-radius: 0.15rem;
	background:#fff;
	overflow: hidden;
}
.totalBox li {
	height: 0.88rem;
	line-height: 0.88rem;
}
.totalBox ul .bor{
	border-bottom: 1px solid #e4e4e4;
}

.totalBox .btn{
	color: #343434;
	text-align: center;
	font-size: 0.36rem;
}